@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --colorOne: #010928;
    --colorTwo: #A90202;
}

.swal2-popup {
    color: white;
    font-family: "Source Sans 3", sans-serif;
}

.cnt-general {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
    background-image: url(../img/banner2.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.titleH1 {
    padding: 0 21px;
    line-height: 1.1;
    font-family: "Bebas Neue", sans-serif;
    font-size: 70px;
    text-align: center;
    color: white;
    text-shadow: -2px -2px black;
}

.cnt-estrellas {
    display: flex;
    gap: 10px;
}

.estrellas {
    width: 50px;
}

.conteo {
    margin: 50px 0;
}

.titleDate {
    color: var(--colorTwo);
    font-size: 35px;
    margin: 20px 0;
}

.cntH2conteo {
    font-family: "Bebas Neue", sans-serif;
}

#cuenta-regresiva,
.cntH2conteo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tiempo {
    text-align: center;
    margin: 0 10px;
}

.tiempo p {
    font-size: 2em;
    margin: 0;
    padding: 5px;
    background: #f0f0f0;
    border-radius: 5px;
    color: var(--colorTwo);
}

.etiqueta {
    font-family: "Source Sans 3", sans-serif;
    display: block;
    margin-top: 5px;
    font-size: 0.75em;
    color: #666;
}

.titleInfo,
.titleCaja,
.titlePerfil,
.titleH2Ubicacion,
.titleForm {
    font-size: 35px;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
}

.titleInfo {
    color: var(--colorOne);
}

.textInfo {
    font-family: "Source Sans 3", sans-serif;
    font-size: 18px;
    padding: 20px;
    text-align: center;
}

.cnt-cajas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 0 0;
}

.caja1,
.caja2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
    text-align: left;
    border: 1px solid rgb(233, 233, 233);
    border-radius: 13px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.caja1,
.caja2 {
    width: 392px;
}

.caja {
    height: 200px;
}

.caja2 {
    height: 230px;
}

.bi-check-circle-fill {
    padding-right: 10px;
    color: var(--colorTwo);
}

.titleCaja {
    padding-bottom: 13px;
    font-size: 30px;
}

.caja ol li {
    font-size: 18px;
    line-height: 1.5;
    font-family: "Source Sans 3", sans-serif;
}

.cnt-btn,
.sectionPerfil {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionPerfil {
    margin: 130px 0;
}

.btn-one {
    font-family: "Source Sans 3", sans-serif;
    padding: 20px;
    border: none;
    background-color: var(--colorTwo);
    color: white;
    border-radius: 10px;
}

.cnt-general-perfil {
    width: 95%;
    position: relative;
    padding: 20px;
    border: 1px solid rgb(215, 215, 215);
    border-radius: 1rem;
}

.fotoPerfil {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    position: absolute;
    top: -100px;
    right: 113px;
}

.titlePerfil {
    margin: 90px 0 105px;
}

.cnt-text-perfil {
    margin: 60px 0 30px;
}

.nombrePersona {
    text-align: center;
    font-size: 24px;
    font-family: "Bebas Neue", sans-serif;
}

.textPerson,
.textPerfil {
    line-height: 1.5;
    text-align: center;
    font-family: "Source Sans 3", sans-serif;
}

.accordion-header {
    font-family: "Bebas Neue", sans-serif;
}

.accordion-body {
    font-family: "Source Sans 3", sans-serif;
}

.cnt-map {
    margin: 10px;
    position: relative;
    overflow: hidden;
    padding-bottom: 60%;
    height: 0;
    border: 1px solid rgb(219, 219, 219);
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0);
}

.cnt-map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.nameUbica {
    font-size: 22px;
    text-align: center;
    line-height: 1.5;
    font-family: "Bebas Neue", sans-serif;
}

.cnt-ubicacion p {
    line-height: 1.5;
    font-size: 18px;
    text-align: center;
    font-family: "Source Sans 3", sans-serif;
}

.textTitleForm {
    text-align: center;
    font-family: "Source Sans 3", sans-serif;
}

form {
    border: 1px solid rgb(205, 205, 205);
    padding: 40px 20px 20px;
    border-radius: 0.5rem;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.form-label,
.titleFormCheck {
    font-family: "Bebas Neue", sans-serif;
}

.form-check-label {
    font-size: 18px;
    line-height: 1.5;
    font-family: "Source Sans 3", sans-serif;
}

.cnt-TitleForm {
    margin: 30px 0;
}

.invalid-feedback,
.valid-feedback,
.btn-primary,
.form-control {
    font-family: "Source Sans 3", sans-serif;
}

.sectionForm {
    margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
    .titleH1 {
        font-size: 80px;
        padding: 0 19%;
    }
    .estrellas {
        width: 60px;
    }

    .titleInfo {
        padding: 0 100px;
    }

    .textInfo {
        padding: 20px 125px 0;
    }

    .cnt-cajas {
        gap: 30px;
        flex-direction: row;
    }

    .caja {
        height: 230px;
    }

    .cnt-general {
        height: 30vh;
    }
}

@media screen and (min-width: 1024px) {
    .titleH1 {
        font-size: 100px;
        padding: 0px 20%;
    }
    .estrellas {
        width: 80px;
    }
    .titleDate {
        font-size: 50px;
        margin: 20px 0;
    }

    .tiempo p {
        font-size: 4rem;
    }

    .etiqueta {
        font-size: 1rem;
    }

    .titleInfo,
    .titlePerfil {
        font-size: 50px;
    }

    .textInfo {
        font-size: 23px;
    }

    .sectionGeneralPerfil {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }

    .cnt-general-perfil {
        width: 400px;
    }

    .cnt-map {
        width: 80%;
        margin: auto;
    }

    .titleH2Ubicacion {
        font-size: 50px;
    }

    .nameUbica {
        padding: 0px 267px;
        font-size: 30px;
    }

    .cnt-ubicacion {
        margin-bottom: 30px;
    }

    .titleForm {
        font-size: 50px;
    }

    .textTitleForm {
        font-size: 25px;
    }

    form {
        font-size: 21px;
        padding: 50px 40px 30px;
    }

    .cnt-general {
        height: 40vh;
    }
    .titleInfo,
    .titlePerfil {
        padding: 0 24%;
    }

    .titlePerfil {
        margin: 90px 0 50px;
    }

    .textInfo {
        padding: 30px 24%;
    }

    .cnt-cajas {
        margin: 40px 0 50px;
    }

    .caja1,
    .caja2 {
        width: 412px;
    }

}

@media screen and (min-width: 1440px) {
    .bodyGeneral {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        max-width: 1440px;
    }

    .titleH1 {
        padding: 0px 22%;
    }
}