@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --colorOne: #010928;
    --colorTwo: #A90202;
}

.cnt-general {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100%;
    background-image: url(../img/bannerOne.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.titleH1 {
    line-height: 1.1;
    font-family: "Bebas Neue", sans-serif;
    font-size: 50px;
    text-align: center;
    color: white;
}

.conteo {
    margin: 50px 0;
}

.titleDate {
    margin: 20px 0;
}

.cntH2conteo {
    font-family: "Bebas Neue", sans-serif;
}

#cuenta-regresiva,
.cntH2conteo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tiempo {
    text-align: center;
    margin: 0 10px;
}

.tiempo p {
    font-size: 2em;
    margin: 0;
    padding: 5px;
    background: #f0f0f0;
    border-radius: 5px;
}

.etiqueta {
    font-family: "Source Sans 3", sans-serif;
    display: block;
    margin-top: 5px;
    font-size: 0.75em;
    color: #666;
}

.titleInfo,
.titleCaja {
    font-size: 35px;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
}

.textInfo {
    font-family: "Source Sans 3", sans-serif;
    font-size: 18px;
    padding: 20px;
    text-align: center;
}

.cnt-cajas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 0 0;
}

.caja1, .caja2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
    text-align: left;
    border: 1px solid rgb(233, 233, 233);
    border-radius: 13px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}
.caja1, .caja2{
    width: 360px;
}
.caja{
    height: 200px;
}
.caja2{
    height: 230px;
}

.bi-check-circle-fill {
    padding-right: 10px;
    color: var(--colorTwo);
}

.titleCaja {
    padding-bottom: 13px;
    font-size: 30px;
}

.caja ol li {
    font-size: 18px;
    line-height: 1.5;
    font-family: "Source Sans 3", sans-serif;
}
.cnt-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-one{
    font-family: "Source Sans 3", sans-serif;
    padding: 20px;
    border: none;
    background-color: var(--colorTwo);
    color: white;
    border-radius: 10px;
}